$huge: 1920px;
$medium: 1280px;
$small: 640px;

.nav {
  position: absolute;
  z-index: 10;

  margin-left: 5%;
  margin-top: 2em;

  width: 95%;

  @media screen and (max-width: $small) {
    position: relative;

    width: min(90%, 500px);

    margin: 0 auto;
    margin-top: 2em;
  }

  @media screen and (min-width: $huge) {
    position: relative;

    margin: 0 auto;
    margin-top: 2em;

    width: max(70%, 1450px);
  }
}

.nav__list {
  display: flex;
  align-items: center;

  list-style: none;

  @media screen and(max-width: $small) {
    justify-content: space-between;
  }

  &--mobile {
    flex-direction: column;

    margin-bottom: 3em;

    font-size: 2rem;
  }
}

.nav__item {
  margin-left: 4em;

  @media screen and (max-width: $small) {
    display: none;
  }

  @media screen and (max-width: $medium) {
    margin-left: 3em;
  }

  &--logo {
    margin-left: 0;
    margin-right: 10%;

    @media screen and (max-width: $medium) {
      margin-right: 5%;
    }

    @media screen and(max-width: $small) {
      display: block;
    }
  }

  &--burger {
    display: none;

    @media screen and(max-width: $small) {
      display: block;
    }
  }

  &--mobile {
    margin-left: 0;
    margin-top: 1.5em;

    @media screen and(max-width: $small) {
      display: block;
    }
  }
}

.nav__link {
  opacity: 0.6;

  padding: 0.5em 0;

  color: black;
  text-decoration: none;

  transition: all 0.3s;
  &:hover,
  &:focus {
    opacity: 1;
  }

  &--logo {
    display: block;
    opacity: 1;

    height: 33px;

    padding: 0;
  }

  &--current-page {
    position: relative;

    opacity: 1;

    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      left: -1em;
      top: 0.4em;

      border-top: 0.5em solid transparent;
      border-bottom: 0.5em solid transparent;
      border-left: 0.5em solid #e32c56;
    }
  }

  &--burger {
    display: block;

    opacity: 1;
  }
}

.nav__logo {
  height: 100%;
}

.nav__link--burger:hover .nav__burger-line--short {
  width: 35px;
}

.nav__burger-line {
  width: 35px;
  height: 5px;

  margin-top: 5px;

  background-color: black;
  border-radius: 10px;

  transition: all 0.3s;

  &--short {
    width: 20px;
    margin-left: auto;
  }
}

.nav-mobile {
  position: absolute;
  z-index: 10;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  overflow-y: scroll;

  width: 100vw;
  height: 100%;
  min-height: 100vh;

  margin-top: 4em;
  padding-top: 4em;

  background-color: white;
}
