$small: 640px;

.social-media {
  &__icon {
    height: 100%;

    margin-right: 0.5em;
  }

  &__link {
    display: inline-flex;
    align-items: center;

    opacity: 0.7;
    height: 20px;

    margin-right: 2em;

    text-decoration: none;

    transition: all 0.3s;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &__name {
    color: black;

    @media screen and(max-width: $small) {
      display: none;
    }
  }
}
